@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: Cairo;
   src: url('/fonts/Cairo/Cairo-Regular.ttf');
}

body{
   @apply bg-white dark:bg-gray-900
}
.suggetions{
   top: calc(100% + 0.5rem)
}
.floatingAnimation{
      animation-name: floating;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
}
@keyframes floating {
   from { transform: translate(0,  0px) rotate(-6deg); }
   65%  { transform: translate(0, 10px) rotate(-6deg); }
   to   { transform: translate(0, -0px) rotate(-6deg); }
}
@media screen and (max-width: 768px) {
   @keyframes floating {
      from { transform: translate(0,  0px) rotate(-4deg); }
      65%  { transform: translate(0, 10px) rotate(-4deg); }
      to   { transform: translate(0, -0px) rotate(-4deg); }
   }
}
.cover{
   background-image: url('/images/rain3.gif');
   background-position: center;
   background-size: contain;
}

.ar{
   font-family: Cairo;
   text-align: right;
   direction: rtl;
}